@media screen and (min-width: 1024px) {
    .square {
        background-color: blue;

        width: 33%;
        height: 400px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    .square {
        background-color: red;

        width: 66%;
        height: 400px;
    }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .square {
        background-color: orange;

        width: 100%;
        height: 400px;
    }
}